.add-btn {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    border: none;
   background: rgb(26, 124, 1) !important;
   
}
.remov{
    background: red !important;
}

.list-add{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}
.buttons{
    display: flex;
    gap: 10px;
}
.bebida-imagem{
    position: absolute;
    right: 10%;
    margin-top: 40px;
}
.fieldset-box{
    background-color: rgb(255, 255, 255);
    height: 130px;
    margin-top: 30px;
}
.fieldset-box p{
    margin-top: 50px;
}