.container {
    width: 100%;
}

.subTitle {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.ista_itens {
    display: flex;
    flex-direction: column;
}

.item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.item-container input {
    margin-right: 10px;
}

.iten {
    flex: 2;
    text-align: left;
}

.valor {
    flex: 1;
    text-align: right;
    margin-right: 10px;
}

.img {
    flex: 0 0 50px;
    text-align: right;
}

.img img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.item-container{
    padding: 10px;
    margin: 10px;
}
.item-container:active{
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(-5px);
    transform: translateX(1px);
}
.check{
   display: none;
}
.btnCar{
    display: flex;
    gap: 10px;
}
.carrinho-item .add{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    border: none;
    background: green !important;
}
.remov{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    border: none;
   background: red !important;
}

.carrinho-item{
    padding: 10px;
    text-align: justify;
    display: flex;
    justify-content: space-between;
}