@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.folder {
    background-image: url(/public/folder.png);
    background-size: cover;
    width: 100vw;
    height: 30vh;
}

.box_glass img {
    width: 204px;
    box-shadow: 3px 3px 10px #000000e6;
    border-radius: 101px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}

main {
    text-align: center;
    margin-top: 70px;
    background-color: rgb(255, 255, 255) !important;
}

.intro {
    margin-top: 100px;
    padding: 20px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 3em;
}
.intro h1 p{
    color: white !important;
}

.home {
    color: rgb(255, 255, 255);
}

.conteiner_top {
    margin-top: 10px;
    padding: 30px;
}