#search{
    background-color: #EBEBEB;
    width:70vw;
    height: 3em;
    border: none;
    padding: 10px;
    border-radius: 0  10px 10px 0;
}
.navBar{
    background-color: rgb(132, 0, 0);
    padding: 10px;
  }

 