*{
  margin: 0;
  padding: 0;
color: black;
}
body{
  background-color: #840000;
  
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;  
}

